<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="a noob flask app">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
  <title>Noob Flask App</title>
</head>

<body>
  <h1>Flask?</h1>
  {% if message %}
  <p>Here's a message for you:</p>
  <blockquote>{{ message }}</blockquote>
  {% else %}
  <p>No message for you today</p>
  {% endif %}
</body>

</html>